/* header */
.header{
    position: sticky;
    background-color: #fff;
    z-index: 1000;
    top: 0;
}

.header-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header left */
.header-top .container .inner-logo{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top .container .inner-logo a img{
    height: 40px;
    width: auto;
    padding-right: 20px;
}
.header-top .container .inner-logo .form {
    display: flex;
    align-items: center;
    background-color: var(--color-form);
    text-align: center;
    height: 40px;
    width: 100%;
    padding: 5px 20px;
    border-radius: 35px;
}
.header-top .container .inner-logo .form input{
    background-color: var(--color-form);
    border: none;
}
.header-top .container .inner-logo .form input:focus{
    outline: none;
}
/* End header left */
/* header right */
.header-top .container .inner-social{
    display: flex;
    align-items: center;
}
.header-top .container .inner-social .a-ship {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--color-form);
    padding: 5px 20px;
    border-radius: 35px;
}
.header-top .container .inner-social .a-ship img{
    height: 40px;
    width: auto;
    padding-right: 10px;
}
.header-top .container .inner-social .a-ship{
    text-decoration: none;
    color: var(--color-main);
}
.header-top .container .inner-social ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: 20px;
}
.header-top .container .inner-social ul li{
    padding-left: 20px;
}
.header-top .container .inner-social ul li a i{
    color: var(--color-main);
}
/* End header right */
/* Header main */
/* End Header main */
.header-main{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
    height: 40px;
    margin-top: 5px;
}
.header-main .container ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.header-main .container ul li a{
    font-size: 14px;
    text-decoration: none;
    text-shadow: rgb(0 0 0 / 15%) 1px 1px 1px;
    color: rgb(51 51 51 / 56%);
}
.header-main .container ul li a:hover{
    color: var(--color-main)
}
/* End header */

/* Submenu styles */
.header-main .container ul li {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    min-width: 500px;
    z-index: 1000;
    border-radius: 8px;
}

.header-main .container ul li:hover .submenu {
    display: block;
}

.submenu div {
    font-weight: bold;
    color: var(--color-main);
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.submenu ul li {
    padding: 5px 0;
    color: #333;
    font-size: 14px;
    width: 100%;
    text-align: left;
    transition: all 0.3s ease;
}

.submenu ul li:hover {
    color: var(--color-main);
    font-weight: bold;
    background-color: rgba(0, 100, 0, 0.05);
    padding-left: 5px;
}

.submenu > div, 
.submenu > ul {
    display: block;
    margin-bottom: 15px;
}

.submenu ul + div {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .submenu {
        min-width: 300px;
        left: 0;
        transform: none;
    }
}

/* Giữ nguyên toàn bộ CSS gốc của bạn ở trên */

/* Thêm phần responsive */
@media screen and (max-width: 1024px) {
    .header-top .container .inner-logo {
        width: 45%;
    }
    .container ul{
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .header-top .container {
        flex-direction: column;
    }

    .header-top .container .inner-logo {
        width: 100%;
    }

    .submenu {
        min-width: 300px;
        left: 0;
        transform: none;
    }

    .container ul{
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .header-top .container .inner-social {
        flex-direction: column;
    }

    .header-top .container .inner-social .a-ship {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container ul{
        padding: 0;
    }
}